<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="bs-component">

<p>
<%= render :partial => 'form' %>
</p>
<p>
  <%= link_to "Show", @post %> |
  <%= link_to "View All", posts_path %>
</p>

</div>
</div>
